version: build{build}

install:
  - IF %APPVEYOR_REPO_TAG_NAME:~-7% EQU windows (echo "Exiting from rebuild" && exit 1)
  - cinst elixir
  - SET PATH=C:\ProgramData\chocolatey\lib\Elixir\bin;%PATH%

build_script:
  - mix local.rebar --force
  - mix local.hex --force
  - mix deps.get
  - mix test
  - set MIX_ENV=prod
  - mix release

after_build:
  - 7z a raptor.zip %APPVEYOR_BUILD_FOLDER%\_build\prod\rel\raptor\*

deploy:
  release: $(APPVEYOR_REPO_TAG_NAME)-windows
  description: 'Raptor windows release'
  provider: GitHub
  auth_token:
    secure: agp1J2HvQaWcepT7MdrxEwcaOoVQgSBzulswDKBnD87H/S26QJyE4oxBo+1l+LSu
  artifact: raptor            # upload all NuGet packages to release assets
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true

artifacts:
  - path: raptor.zip
    name: raptor
    type: zip
